<!-- <section id="aktiv-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        
      </div>
    </div>
  </div>
</section> -->

<section id="aktiv-hero">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-4 col-lg-offset-8 col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6" id="hero-txt" style="background-color:rgba(0,0,0,.8);height:100%;">
        <%= image_tag 'AKTIV-LOGO-white.png', class: 'img-responsive' %>

        <h3>Living in a not-so-perfect world</h3>

        <p>Roads like this are all too familiar to every cyclist. We can't pave every road but we can offer you a bicycle that can handle not-so-perfect conditions. It has always been TIME's mission to bring you the most comfortable ride possible. We do not consider comfort a new feature or the latest trend. It has been built in to all of our bicycles through experience, design, materials and the production process since we started making frames.</p>

        

<!-- <p>Vibrations from the road are at the root of many micro-traumas to the joints, affecting ride comfort, road holding, command and control of the bike, compormising both saftey and performance.</p>
        <p>From its very first frames, TIME has made it a priority to treat vibration phinomena withouth compromising comfort and performance. RTM technology and the use of VECTRAN, a polymer fiber with exceptional damping characteristics, of which TIME became the forerunner, transcended the dynamic qualitites of TIME frames and forged their prestigious reputation.</p> -->
        <%= image_tag 'Fluidity-AKTIV-yellow-bike.png', class: 'img-responsive' %>
        <p class="text-center"><a href="#aktiv-biker" class="scroll-btn">Learn more about AKTIV<br /><span class="fa fa-chevron-circle-down fa-2x"></span></a></p>
      </div>
    </div>
  </div>
</section>

<section id="aktiv-biker">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-6">
    <!--     <p>In our quest for comfort we have spent the last six years developing the AKTIV fork. A multidiscplinary team made up of TIME engineers, physiotherapists and experts on mechanical vibrations was assemble to attack energy-sapping and harmful road vibrations at the source, giving you an even smoother ride, more control and keeping you fresher longer.</p> -->
        <h2>Introducing AKTIV</h2>
        <p>Today, TIME is going further in their quest for performance. Following several years of research and the application of three patents, TIME introduces AKTIV, a revolutionary fork featuring an integrated tuned mass damper, which dispels vibrations detrimental to the cyclist's performance and comfort.</p>

        <h3>How does it work?</h3>
        <p>Low frequency vibrations between 25 and 50Hz can have the most detrimental effect on performance causing discomfort and fatigue. Vibrations experienced when cycling fall into this category.</p>
        <p>The tuned mass damper is a dissipative system that is designed to stabilize against Harmonic Vibrations, these occur when the vibration of the bicycle and rider are in phase with the vibrations from the road. Through vibrating itself the Tuned Mass Damper absorbs the worst case vibrations by off-setting the vibrations phase – reducing their intensity.</p>
        <p>Through many tests, TIME have discovered that the fork is the best place to treat harmonic vibrations - it is as close to the road as possible - reducing the effect of all vibration phenomena throughout the system (at the seat post, the pedals and the handlebars).</p>
        <%= image_tag 'aktiv-2-forks.jpg', class: 'img-responsive', style: 'border:1px solid rgba(0,0,0,.1);margin-bottom:5px;'%>
        <caption>The AKTIV fork cutaway revealing one of the tuned mass dampers that dissipates harmful road vibrations.</caption>
        

      </div>
<!--       <div class="col-lg-6">
        <%#= image_tag 'aktiv-before-after.png', class: 'img-responsive' %>
      </div> -->
    </div>
  </div>
</section>

<section id="aktiv-graph">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-1 col-sm-6">
      <%= image_tag 'AKTIV-graph.png', class: 'img-responsive' %>
    </div>
    <div class="col-lg-6 col-sm-6">
      <p>Unlike most existing systems that rely on material elasticity (seatpost, wishbone), AKTIV is not deteriorating the performance of the bike.</p>

        <p>This is not a shock absorption system which generates flexibility and energy loss, but an active device fully preserving the physical potential, improving the behavior of the bike and increasing the pedaling efficiency.</p>
        <div class="row">
          <div class="col-lg-12">
            <%= image_tag 'aktiv-before-after.png', class: 'img-responsive' %>

          </div>

        </div>
    </div>
  </div>

  
</section>

<section id="aktiv-models">
<div class="container">
  
  <div class="row text-center">
<h1>2015 AKTIV Models</h1>
  <div class="col-lg-4 text-center">
          
        <div class="row">
          <div class="col-lg-12 col-lg-offset-0 col-md-8 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 text-center bike">
            <%= image_tag 'Skylon-AKTIV-plasma-bike.png', class: 'img-responsive' %>
            <h3><%= link_to 'SKYLON | AKTIV', '/framesets/skylon' %></h3>
          </div>

        </div>
      </div>
      <div class="col-lg-4 text-center">
        
        <div class="row">
          <div class="col-lg-12 col-lg-offset-0 col-md-8 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 text-center bike">
            <%= image_tag 'Izon-AKTIV-red-bike.png', class: 'img-responsive' %>
            <h3><%= link_to 'IZON | AKTIV', '/framesets/izon' %></h3>
          </div>

        </div>
      </div>
      <div class="col-lg-4 text-center">
        
        <div class="row">
          <div class="col-lg-12 col-lg-offset-0 col-md-8 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 text-center bike">
            <%= image_tag 'Fluidity-AKTIV-yellow-bike.png', class: 'img-responsive' %>
            <h3><%= link_to 'FLUIDITY | AKTIV', '/framesets/fluidity' %></h3>
          </div>

        </div>
      </div>


</div>
</div>


</section>
<section id="aktiv-multidiscipline"></section>