<section id="pedal-xpresso-hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4" id="pedal-main-txt">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2"><%= image_tag 'LOGO-XPRESSO-white.png', class: 'img-responsive' %>
          </div>
        </div>
        <h3>FAST</h3>
        <h3>LIGHT</h3>
        <h3>POWER TRANSMISSION</h3>
        <p>
          TIME has revolutionized clipless pedal technology and introduces its newest generation : Xpresso.
          The Iclic concept - pre-open clipless system (TIME patent) - allows more intuitive engagement without any rubbing. Moreover, the carbon flexion blade and the oversize 700 mm2 platform gives the pedal a record surface area/ weight factor.
        </p>
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
              <%= image_tag 'PEDALS-road-xpresso15-pers.png', class: 'img-responsive' %>
            </div>
          </div>
      </div>
   
    </div>
  </div>
</section>





<section id="pedals-xpresso">
  <div class="container">
    <div class="row">
      <div  class="col-lg-3 col-lg-offet-1">
        <%= image_tag 'LOGO-XPRESSO.png', class: 'img-responsive atac-logo' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2>Light, Easy Step-in, Ergonomic</h2>
        <p>Led by our new Xpresso 15, all Xpresso pedals feature light weight, easy engagement with iClic®, and ergonomics to optimize your comfort and performance.</p>

        <p>Our Xpresso line offers a variety of materials, from steel to hollow titanium axles, composite to carbon bodies and carbon spring to fit your performance needs.</p>

        <p>The iClic pre-open clipless system allows you to click in without having to force the clip open making stepping in fast, easy and secure.</p>

        <p>With the oversized 700mm2 along with the carbon spring design, the Xpresso line boast a large platform area for stability and power transmission.</p>
      </div>
      
    </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-road-xpresso15.png', class: 'img-responsive' %>
        <h3><%#= link_to 'Xpresso 15', '/pedals/road-pedals/xpresso15' %>Xpresso 15 | 66.5g</h3>
        <small style="">Hollow titanium axle, CERAMIC SPEED bearings, carbon body, aluminum plate</small>

      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-road-xpress12.png', class: 'img-responsive' %>
        <h3><%#= link_to 'Xpresso 12', '/pedals/road-pedals/xpresso12' %>Xpresso 12 | 77g</h3>
        <small style="">Titanium axle, carbon body, Aluminum plate</small>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-road-xpresso10.png', class: 'img-responsive' %>
        <h3><%#= link_to 'Xpresso 10', '/pedals/road-pedals/xpresso10' %>Xpresso 10 | 95g</h3>
        <small style="">Hollow steel axle, carbon body, aluminum plate</small>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-road-xpresso8.png', class: 'img-responsive' %>
        <h3><%#= link_to 'Xpresso 8', '/pedals/road-pedals/xpresso8' %>Xpresso 8 | 100g</h3>
        <small>Hollow steel axle, composite body, aluminum plate</small>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-road-xpresso6.png', class: 'img-responsive' %>
        <h3><%#= link_to 'Xpresso 6', '/pedals/road-pedals/xpresso6' %>Xpresso 6 | 102g</h3>
        <small>Hollow steel axle, composite body, stainless steel plate</small>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-road-xpresso4.png', class: 'img-responsive' %>
        <h3><%#= link_to 'Xpresso 4', '/pedals/road-pedals/xpresso4' %>Xpresso 4 | 112g</h3>
        <small>Steel axle, composite body, stainless steel plate</small>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-road-xpresso2.png', class: 'img-responsive' %>
        <h3><%#= link_to 'Xpresso 2', '/pedals/road-pedals/xpresso2' %>Xpresso 2 | 112g</h3>
        <small>Steel axle, composite body</small>
      </div>
  </div>
</section>

<section id="pedal-rxs-hero"></section>

<section id="pedals-rxs">
  <div class="container">
    <div class="row">
      <div  class="col-lg-3 col-lg-offet-1">
        <%= image_tag 'LOGO-RXS.png', class: 'img-responsive atac-logo' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-road-rxs-carbon.png', class: 'img-responsive' %>
        <h3><%#= link_to 'RXS Carbon', '/pedals/road-pedals/rxs-carbon' %>RXS Carbon | 117g</h3>
        <small>Hollow steel axle, carbon body, angular adjustment</small>
      </div>  
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-road-rxs-speed.png', class: 'img-responsive' %>
        <h3><%#= link_to 'RXS Speed', '/pedals/road-pedals/rxs-speed' %>RXS Speed | 130g</h3>
        <small>Steel axle, composite body, angular adjustment</small>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-road-rxs-first.png', class: 'img-responsive' %>
        <h3><%= link_to 'RXS First', '/pedals/road-pedals/rxs-first' %>RXS First | 130g</h3>
        <small>Steel axle, composite body</small>
      </div>
    </div>
  </div>
</section>
<section id="pedals-bioperformance"></section>

