<section id="pedal-tech-intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <h1>Bioperformance</h1>
        <h2>For TIME, performance and biomechanics are one and the same</h2>
        <p>Only by respecting the natural movements of your legs and joints, with angular and lateral float, as well as prescise adjustment to the sensation or "feel" of the float, and with adjustable Q-factor Adjustment, can you decrease the risk of joint trauma and optimize performance foloowing 3 points: security, ergoinomics and performance.</p>
      </div>
      <div class="col-lg-6 col-md-6">
        <%= image_tag 'pedal-float-qfactor.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>

<section id="pedal-tech-road">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-xs-12">
        <%= image_tag 'LOGO-XPRESSO.png', class: 'img-responsive' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-4 text-center" id="pedal-stack-height">
        <%= image_tag 'pedal-tech-stackheight1.png', class: 'img-responsive' %>
        <h3>Low Stack Height</h3>
        <p>More efficient power transfer</p>
      </div>
      <div class="col-lg-4 col-sm-4 text-center" id="pedal-xpresso-oversize">
        <%= image_tag 'pedal-tech-oversize1.png', class: 'img-responsive' %>
        <h3>Large Surface Area</h3>
        <p>Reduce pedal hot spots</p>
      </div>
      <div class="col-lg-4 col-sm-4 text-center" id="pedal-iclic">
        <%= image_tag 'pedal-tech-iclic1.png', class: 'img-responsive' %>
        <h3>iClic System</h3>
        <p>Pre-opened pedal engagement (TIME patent)</p>
      </div>
    </div>
    </div>
  </div>
</section>

<section id="pedal-tech-atac">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row">
          <div class="col-lg-4 col-xs-4">
            <%= image_tag 'LOGO-ATAC-XC.png', class: 'img-responsive' %>
          </div>
          <div class="col-lg-4 col-xs-4">
            <%= image_tag 'LOGO-ATAC-MX.png', class: 'img-responsive' %>
          </div>
          <div class="col-lg-4 col-xs-4">
            <%= image_tag 'LOGO-ATAC-DH.png', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 text-center">
        <%= image_tag 'pedal-tech-stepin.png', class: 'img-responsive' %>
        <h3>Simple Step-in</h3>
        <p>Optimal angle for simple and fast step-in</p>
      </div>
      <div class="col-lg-4 text-center">
        <%= image_tag 'pedal-tech-selfclearing.png', class: 'img-responsive' %>
        <h3>Self-cleaning</h3>
        <p>Clip in action cleans out any debris</p>
      </div>
      <div class="col-lg-4 text-center">
        <%= image_tag 'pedal-tech-float.png', class: 'img-responsive' %>
        <h3>Release Angle</h3>
        <p>Cleats allow choice of release angle (13ยบ or 17ยบ)</p>
      </div>
    </div>
  </div>
</section>

<section id="time-pedals">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <%= image_tag 'PEDALS-road-xpresso15.png', class: 'img-responsive' %>
        <h3>Xpresso</h3>
        <p><%= link_to 'See our 2015 Xpresso road pedals', '/pedals/road-pedals' %></p>
      </div>
      <div class="col-lg-4 text-center">
        <%= image_tag 'PEDALS-mtb-atac-xc12.png', class: 'img-responsive' %>
        <h3>ATAC</h3>
        <p><%= link_to 'See our 2015 ATAC XC, MX, DH mountain bike and cyclecross pedals', '/pedals/mountain-bike-pedals' %></p>
      </div>
    </div>
  </div>

</section>

