<section id="pedal-atac-hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-8 col-md-4 col-md-offset-8" id="pedal-main-txt">
        
        <%= image_tag 'LOGO-ATAC-white.png', class: 'img-responsive' %>
        <h3>ATAC SYSTEM</h3>
        <h3>LIGHT</h3>
        <h3>RELIABLE</h3>
        <p>
          The fusion of technology and reliability. The ATAC System combines an ultra light design with an exceptional mud and debris clearing system, thanks to its self-cleaning concept with and easy engagement and a mastered step-out. It is the preferred pedals of the most elite champions.

        </p>
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
            <%= image_tag 'PEDALS-mtb-atac-xc6-plasma.png', class: 'img-responsive' %>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section id="pedals-atac-xc">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-lg-offet-1">
        <%= image_tag 'LOGO-ATAC-XC.png', class: 'img-responsive atac-logo' %>
      </div>
    </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-mtb-atac-xc12.png', class: 'img-responsive' %>
        <h3><%#= link_to 'ATAC XC 12', '/pedals/mtb-pedals/atac-mx12' %>ATAC XC 12 | 124g</h3>
        <small>Titanium axle, carbon body, stainless stell molded dual-arches, angular adjustment</small>

      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-mtb-atac-xc8.png', class: 'img-responsive' %>
        <h3><%#= link_to 'ATAC XC 8', '/pedals/mtb-pedals/atac-mx8' %>ATAC XC 8 | 143g</h3>
        <small>Hollow steel axle, carbon body, stainless steel molded dual-arches, angular adjustment</small>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-mtb-atac-xc6-wh.png', class: 'img-responsive' %>
        <h3><%#= link_to 'ATAC XC 6 White', '/pedals/mtb-pedals/atac-mx6-white' %>ATAC XC 6 White | 145g</h3>
        <small>Hollow steel axle, composite body, stainless steel stamped dual-arches, angular adjustment</small>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-mtb-atac-xc6-plasma.png', class: 'img-responsive' %>
        <h3><%#= link_to 'ATAC XC 6 Plasma', '/pedals/mtb-pedals/atac-mx6-plasma' %>ATAC XC 6 Plasma | 145g</h3>
        <small>Hollow steel axle, composite body, stainless steel stamped dual-arches, angular adjustment</small>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-mtb-atac-xc4.png', class: 'img-responsive' %>
        <h3><%#= link_to 'ATAC XC 4', '/pedals/mtb-pedals/atac-mx4' %>ATAC XC 4 | 147g</h3>
        <small>Hollow steel axle, composite body, stainless steel stamped dual-arches</small>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-mtb-atac-xc2.png', class: 'img-responsive' %>
        <h3><%#= link_to 'ATAC XC 2', '/pedals/mtb-pedals/atac-mx2' %>ATAC XC 2 | 151g</h3>
        <small>Steel axle, composite body, stainless steel stamped dual-arches</small>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        
      </div>
  </div>
</section>

<section id="pedals-atac-mx">
  <div class="container">
    <div class="row">
      <div  class="col-lg-3">
        <%= image_tag 'LOGO-ATAC-MX.png', class: 'img-responsive atac-logo' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-mtb-atac-mx12.png', class: 'img-responsive' %>
        <h3><%#= link_to 'ATAC MX 12', '/pedals/mtb-pedals/atac-mx12' %>ATAC MX 12 | 158g</h3>
        <small>Oversized titanium axle, carbon body, stainless steel molded dual-arches, hollow spring axle</small>
      </div>  
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-mtb-atac-mx8.png', class: 'img-responsive' %>
        <h3><%#= link_to 'ATAC MX 6 White', '/pedals/mtb-pedals/atac-mx6-wh' %>ATAC MX 8 | 182g</h3>
        <small>Oversized hollow steel axle, carbon body, hollow spring axle</small>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-mtb-atac-mx6-wh.png', class: 'img-responsive' %>
        <h3><%#= link_to 'ATAC MX 6 Plasma', '/pedals/mtb-pedals/atac-mx6-plasma' %>ATAC MX 6 White | 190g</h3>
        <small>Oversized hollow steel axle, composite body, hollow spring axle</small>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-mtb-atac-mx6-plasma.png', class: 'img-responsive' %>
        <h3><%#= link_to 'ATAC MX 6 Plasma', '/pedals/mtb-pedals/atac-mx6-plasma' %>ATAC MX 6 Plasma | 190g</h3>
        <small>Oversized hollow steel axle, composite body, hollow spring axle</small>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-mtb-atac-mx4.png', class: 'img-responsive' %>
        <h3><%#= link_to 'ATAC MX 4', '/pedals/mtb-pedals/atac-mx4' %>ATAC MX 4 | 192g</h3>
        <small>Hollow steel axle, composite body</small>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-mtb-atac-mx2.png', class: 'img-responsive' %>
        <h3><%#= link_to 'ATAC MX 2', '/pedals/mtb-pedals/atac-mx2' %>ATAC MX 2 | 197g</h3>
        <small>Steel axle, composite body</small>
      </div>
    </div>
  </div>
</section>
<section id="pedal-atac-dh">
  <div class="container">
    <div class="row">
      <div  class="col-lg-3 col-lg-offet-1">
        <%= image_tag 'LOGO-ATAC-DH.png', class: 'img-responsive atac-logo' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag 'PEDALS-mtb-atac-dh4.png', class: 'img-responsive' %>
        <h3><%#= link_to 'ATAC DH 2', '/pedals/mtb-pedals/atac-dh4' %>ATAC DH 2 | 258g</h3>
      </div>

    </div>
  </div>
</section>
<section id="pedals-bioperformance"></section>

