

<%# content_for :body do %>
  <%#= raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any? %>
  
  
<%# end %>
<%# content_for :sidebar do %>
  
<%# end %>


<div class="container">
  <div class="row" id="contact">
    <div class="col-lg-12">
     <div class="row">
      <div class="col-lg-9">

        <h1>Contact</h1>
        <%= raw @page.content_for(:body) %>
      <div class="form-horizontal" role="form">
        <div class='inquiries'>

          <%= form_for [refinery, :inquiries, @inquiry] do |f| %>
            <%= render :partial => "/refinery/admin/error_messages",
                       :locals => {
                         :object => @inquiry,
                         :include_object_name => true
                       } %>
            <div class="field form-group">
              <%= f.required_label :name, :class => 'placeholder-fallback control-label col-lg-2' %>
              <div class="col-lg-9"><%= f.text_field :name, :class => 'text form-control', :required => 'required',
                        :placeholder => t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %></div>
            </div>
            <div class="field form-group">
              <%= f.required_label :email, :class => 'placeholder-fallback control-label col-lg-2' %>
              <div class="col-lg-9"><%= f.email_field :email, :class => 'text email form-control', :required => 'required',
                        :placeholder => t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %></div>
            </div>

            <% if Refinery::Inquiries.show_phone_number_field %>
              <div class="field form-group">
                <%= f.label :phone, :class => 'placeholder-fallback control-label col-lg-2' %>
                <div class="col-lg-9"><%= f.text_field :phone, :class => 'text phone form-control',
                            :placeholder => t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %></div>
              </div>
            <% end %>

            <div class='field message_field form-group'>
              <%= f.required_label :message, :class => 'placeholder-fallback control-label col-lg-2' %>
              <div class="col-lg-9"><%= f.text_area :message, :rows => 8, :class => 'form-control', :required => 'required',
                        :placeholder => t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %></div>
            </div>
            <div class="actions col-lg-offset-2">
              <%= f.submit t('.send'), :class => 'btn btn-default', :value => 'SEND MESSAGE' %>
              <small><%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %></small>
            </div>
          <% end %>



        </div>
        <%#= render "/refinery/content_page" %>
      </div>

    </div>
    <div class="col-lg-3" id="contact-sidebar">
      <h3>General info</h3>
      <%= mail_to 'info@timesportusa.com', 'info@timesportusa.com' %>

      <h3>Service and Warranty</h3>
      <%= mail_to 'service@timesportusa.com', 'service@timesportusa.com' %>

      <h3>Dealer Inquiries</h3>
      <%= mail_to 'info@timesportusa.com', 'info@timesportusa.com' %>

      <h3>Tel: 877.727.7661</h3>



    </div>



  </div>

    
    </div>
  </div>
</div>

