<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render "/refinery/head" %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="image_src" href="http://www.timesportusa.com/assets/site_thumb.png" />
    <%= yield :fb_pixel %>
    
    
  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
    <div id="page_container">
      <header id="header">
        <%= render "/refinery/header" -%>
      </header>
      <section id="page">
        <%= yield %>
      </section>
      <footer class="site-footer">
        <%= render "/refinery/footer" -%>
      </footer>
    </div>
    <%= render "/refinery/javascripts" %>
  <script type="text/javascript">
  adroll_adv_id = "GYZZFAP33JDHLP3XLUS2CT";
  adroll_pix_id = "OABZ5OZCPBFPHDT2LFZHEC";
  (function () {
  var oldonload = window.onload;
  window.onload = function(){
  __adroll_loaded=true;
  var scr = document.createElement("script");
  var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
  scr.setAttribute('async', 'true');
  scr.type = "text/javascript";
  scr.src = host + "/j/roundtrip.js";
  ((document.getElementsByTagName('head') || [null])[0] ||
  document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
  if(oldonload){oldonload()}};
  }());
  </script>

  </body>
</html>
